html,
body {
  font-family: Raleway, Verdana, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #414A52;
  -webkit-text-size-adjust: 100%;
  background-color: #F4F6F9; }